APP_NAME=XTend.store
APP_ENV=local
APP_DEBUG=false
APP_KEY=
APP_URL=http://127.0.0.1:8180
LOG_CHANNEL=single
DB_CONNECTION=sqlite
SESSION_DRIVER=database
CACHE_STORE=array
DEMOPAY_ORIGIN=http://127.0.0.1:8181
DEMOPAY_SECRET=
